{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title %}Try Django 1.9{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'posts/css/base.css' %}">

    {% block head_extra %}{% endblock head_extra %}

</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&autoLogAppEvents=1&version=v5.0&appId=251980978929943"></script>
    
    {% include "posts/messages_display.html" %}

    <div class="container">
        <div class="col-sm-6 offset-sm-2">
        {% block content %}
            <h3>Extends from base.html</h3>
            <!-- use block.super to include parent html block content -->
        {% endblock content %}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.7.0/marked.min.js"></script>
    
    <script type="text/javascript">
    $(document).ready(function(){
        $(".content-markdown").each(function(){
            var content = $(this).text();
            console.log(content);
            var markedContent = marked(content);
            console.log(markedContent);
            $(this).html(markedContent);
        })

        $(".post-detail-item img").each(function(){
            $(this).addClass("img-responsive");
            $(this).width('100%');
        })

        // dynamic update preview title
        var titleInput = $("#id_title");
        

        function setTitle(value){
            console.log(value)
            $("#title-preview").text(value);
        }
        setTitle(titleInput.val());

        titleInput.keyup(function(){
            setTitle(titleInput.val());
        })

        // dynamic update preview content
        var contentInput = $("#wmd-input-id_content");

        function setContent(value){
            if(value == undefined){
                return;
            }

            var markedContent = marked(value);
            $("#content-preview").html(markedContent);
            $("#content-preview img").each(function(){
                $(this).addClass("img-responsive");
                $(this).width('100%');
            })
        }
        setContent(contentInput.val());

        contentInput.keyup(function(){
            setContent(contentInput.val());
        })

        $(".comment-reply-btn").click(function(event){
            event.preventDefault();
            $(this).parent().next(".comment-reply").fadeToggle();
            console.log("AAAAAAAAAAAA")
        });
    })
    </script>
</body>
</html>