{% extends "posts/base.html" %}
{% load urltify %}

{% block title %}
{{ instance.title }} | {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>This is post_detail page</h1>

    <h6>{{ instance.title }}</h6>
    {% if instance.user.get_full_name %}
        <h6>Author: {{ instance.user.get_full_name }}</h6>
    {% endif %}
    <!-- <h6>{{ instance.timestamp }}</h6> -->
    <!-- <h6>{{ instance.updated }}</h6> -->
    <h6>
        Published: {{ instance.publish }}
        {% if instance.draft %}
            <small><span style="color:red">Draft</span></small>
        {% endif %}
    </h6>
    <hr>
    {% if instance.image %}
    <img src="{{ instance.image.url }}" class="img-resp">
    {% endif %}

    <div class="content-markdown">{{ instance.content }}</div>

    <hr>
    <div class="row">
        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>
    <!-- demostrate two ways to implement share string -->
    <!-- {{ share_string | truncatechars:50 }}<br> -->
    <!-- {{ instance.content | urltify | truncatechars:50 }} -->
    <hr>
    <div class="share-to-social-media">
        <p>Share to:
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
            Facebook
        </a>,
        <a href="https://twitter.com/intent/tweet?text={{share_string}}%20{{ request.build_absolute_uri }}">
            Twitter
        </a>
        </p>
    </div>
    <div class="row">
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="" data-numposts="5"></div>
    </div>

{% endblock content %}