{% extends "posts/base.html" %}

{% block content %}
    {{ block.super }} <!--get parent template content -->
    <h1>This is {{ title }} page</h1>

<div>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="Search posts" value="{{ request.GET.q }}">
        <input type="submit" value="Search">
    </form>
    <hr>
</div>

    {% for post in post_list %}
    <div class="card">
        {% if post.image %}
        <img class="card-img-top" src="{{ post.image.url }}">
        {% endif %}
        <div class="card-body">
            <h2 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                <!-- <small> | {{ post.timestamp }}</small> -->
            </h2>
            {% if post.user.get_full_name %}<h6>Author: {{ post.user.get_full_name }}</h6>{% endif %}
            <!-- <h6 class="card-text">Updated: {{ post.updated | timesince }} ago</h6> -->
            <h6>Published: {{ post.publish }}
                {% if post.draft %}
                    <small><span style="color:red">Draft</span></small>
                {% endif %}
                {% if post.publish > today %}
                    <small><span style="color:red">Not publish Yet</span></small>
                {% endif %}
            </h6>
            <p>{{ post.content | linebreaks | truncatechars:80 }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">View...</a>
        </div>
        <hr>
    </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if post_list.has_previous %}
                <a href="?{{ page_req_var }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; first</a>
                <a href="?{{ page_req_var }}={{ post_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
            </span>
    
            {% if post_list.has_next %}
                <a href="?{{ page_req_var }}={{ post_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                <a href="?{{ page_req_var }}={{ post_list.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}
