{% extends "posts/base.html" %}

{% block content %}
    {{ block.super }} <!--get parent template content -->
    <h1>This is post_list page</h1>

    {% for post in posts %}
    <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
            <!-- <h6><a href="{% url 'posts:detail' id=post.id %}">{{ post.title }}</a></h6> -->
            <h2 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a><small> | {{ post.timestamp }}</small></h2>
            <h6 class="card-text">Updated: {{ post.updated | timesince }} ago</h6>
            <p>{{ post.content | linebreaks | truncatechars:80 }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">View...</a>
        </div>
        <hr>
    </div>
    {% endfor %}

{% endblock content %}
