<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>This is post_list page</h1>

    {% for post in posts %}
    <!-- <h6><a href="{% url 'posts:detail' id=post.id %}">{{ post.title }}</a></h6> -->
    <h6><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h6>
    <h6>{{ post.timestamp }}</h6>
    <h6>{{ post.updated }}</h6>
    <h6>{{ post.context }}</h6>
</br></br>
    {% endfor %}

</body>
</html>